:root:not(.theme-dark) {
    --tv-color-platform-background: #ffffff00;
    --tv-color-pane-background: #ffffff00;
    --tv-color-pane-background-secondary: #ffffff00;
    --tv-color-toolbar-button-background-hover: #ffffff00;
    --tv-color-toolbar-button-background-secondary-hover: #ffffff00;
    --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
    --tv-color-toolbar-button-text: rgb(0, 0, 0);
    --tv-color-toolbar-button-text-hover: rgb(185, 128, 255);
    --tv-color-toolbar-button-text-active: #7864f4;
    --tv-color-toolbar-button-text-active-hover: #2e13dd;
    --tv-color-item-active-text: rgb(6, 6, 255);
    --tv-color-toolbar-toggle-button-background-active: #7864f4;
    --tv-color-toolbar-toggle-button-background-active-hover: rgb(244, 225, 244);
}

.theme-dark:root {
    --tv-color-platform-background: #1c1c2e;
    --tv-color-pane-background: #1c1c2e;
    --tv-color-pane-background-secondary: #1c1c2e;
    --tv-color-toolbar-button-background-hover: #1c1c2e;
    --tv-color-toolbar-button-background-secondary-hover: #1c1c2e;
    --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
    --tv-color-toolbar-button-text: rgb(255, 255, 255);
    --tv-color-toolbar-button-text-hover: rgb(185, 128, 255);
    --tv-color-toolbar-button-text-active: #7864f4;
    --tv-color-toolbar-button-text-active-hover: #7864f4;
    --tv-color-item-active-text: rgb(6, 6, 255);
    --tv-color-toolbar-toggle-button-background-active: #7864f4;
    --tv-color-toolbar-toggle-button-background-active-hover: rgb(240, 202, 240);
}